code {
    background-color: #818b981f
}

pre.shiki {
    border: 1px #dbd7caee solid;
    border-radius: 8px;
    padding: 1rem;
}

pre.shiki code {
    counter-reset: step;
    counter-increment: step 0;
}

pre code {
    background-color: transparent;
}

pre.shiki code .line::before {
    content: counter(step);
    counter-increment: step;
    width: .5rem;
    margin-right: .9rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, .4);
}

blockquote {
    padding: 0 1em;
    color: var(#59636e);
    border-left: .25em solid #d1d9e0;
}

